.element__like {
    background: no-repeat center url(../../../images/like-icon.svg);
    width: 22px;
    height: 19px;
    border: none;
    cursor: pointer;
}

.element__like:hover {
    opacity: .5;
}