.profile__about {
    max-width: 340px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media(max-width: 730px) {
    .profile__about {
        text-align: center;
    }
}

@media(max-width: 428px) {
    .profile__about {
        max-width: 240px;
        font-size: 14px;
        line-height: 17px;
    }
}
