.profile {
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    margin: 40px auto 0;
    align-items: center;
}

@media(max-width: 933px) {
    .profile {
    margin-left: 27px;
    margin-right: 27px;
    }
}

@media(max-width: 720px) {
    .profile {
    flex-direction: column;
    justify-content: flex-start;
    }
}

@media(max-width: 428px) {
    .profile {
    margin-left: 18px;
    margin-right: 18px;
    }
}