.profile__info {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 16px 18px;
    align-items: baseline;
    margin-right: auto;
}


@media(max-width: 720px) {
    .profile__info {
        margin: 26px auto 0;
    }
}

@media(max-width: 428px) {
    .profile__info {
        gap: 10px 14px;
    }
}